.sidenav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
}

.nav-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.nav-elements ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}

.nav-elements ul li {
  list-style-type: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  padding: 1rem 0;
}

.nav-elements ul li:hover {
  color: var(--theme-color);
}

.nav-link {
    align-self: flex-end;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


